.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    font-family: Roboto;
}

.header-logo{
    margin-left: 3rem;
}

.logo{
    border-radius: 20px;
}

.logo a:hover{
    cursor: pointer;
}

.buttons a{
    list-style: none;
    padding: 10px;
    margin-right: 4rem;
}

.buttons a{
    cursor: pointer;
    background-color: #aaa;
}