.header-container{
    position: relative;
    padding: 12px;
    align-items: center;
    background-color: #ccc;
}

.header-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container li{
    list-style: none;
}

.header-container li h1{
    margin: 0;
}

.button{
    margin-right: 40px;
    font-weight: bold;
    padding: 8px;
    border: 0;
    background-color: transparent;
}

.button:hover{
    cursor: pointer;
    background-color: #aaa;
}