.header-container{
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
}

.header-container{
    align-items: center;
}

.logo {
    text-align: left;
    display: flex;
    align-items: center;
}


.logo a:hover{
    cursor: pointer;
    align-items: center;
}

.buttons a{
    padding: 10px;
    margin-right: 4rem;
}

.buttons a:hover{
    cursor: pointer;
    background-color: #aaa;
}