<mat-accordion *ngFor="let task of tasks">
    <mat-expansion-panel 
    (opened)="panelOpenState = true" 
    (closed)="panelOpenState = false">
    
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="title">
              {{task.title}}
            </p>
          </mat-panel-title>
          <mat-panel-description class="description">
            <div class="expired" *ngIf="taskExpired(task.id)">
              Expired at: {{task.dueDate | date: 'dd/MM/yyyy'}}
            </div>
            <div class="expires" *ngIf="!taskExpired(task.id)">
              Expires at: {{task.dueDate | date: 'dd/MM/yyyy'}}
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <table>
            <tr>
                <td class="task-description">{{task.description}}</td>
                <td (click)="edit(task.id, task.dueDate)"><mat-icon>edit</mat-icon></td>
                <td (click)="delete(task.id)"><mat-icon>delete</mat-icon></td>
                <td class="finished-checkbox" (click)="finished(task.id)">
                    <mat-icon>
                        {{ task.finished ? 'check_box' : 'check_box_outline_blank' }}
                    </mat-icon>
                </td>
            </tr>
        </table>
        
    </mat-expansion-panel>
</mat-accordion>