table{
    width: 100%;
    text-align: center;
}

.title{
    max-width: 19rem;
    word-wrap: break-word;
}

.task-description{
    display: block;
    max-width: 25rem;
    word-wrap: break-word;
}

.description{
    display: flex;
    justify-content: flex-end;
}

mat-icon:hover{
    cursor: pointer;
}
