<div class="edit-project-container">
    <h1 class="title-form">Edit project</h1>
    <mat-form-field class="form">
        <div class="title">
            <mat-label>Title:</mat-label>
            <input matInput [formControl]="title">
            <mat-error *ngIf="title.invalid && title.touched">Title must have minimum 3 letters</mat-error>
        </div>   
    </mat-form-field>

    <mat-form-field class="form">
        <div class="description">
            <mat-label>Description:</mat-label>
            <input matInput [formControl]="description">
        </div>
    </mat-form-field>

    <div class="submit">
        <button type="submit" mat-raised-button [disabled]="title.invalid" (click)="onSubmit()">
            Create
        </button>
    </div>
</div>