<mat-card class="card-container" *ngFor="let project of projects">
    <mat-card-header class="card-header">
        <mat-card-title>
            {{project.title}}
        </mat-card-title>
        <mat-card-subtitle>
            <p class="project-description">
                {{project.description}}
            </p>
        </mat-card-subtitle>
        <mat-card-actions class="card-buttons">
            <mat-icon class="icon-project" (click)="newTask(project.id!)">add_task</mat-icon>
            <mat-icon class="icon-project" (click)="edit(project.id!)">edit_note</mat-icon>
            <mat-icon class="icon-project" (click)="delete(project.id!)">delete</mat-icon>
        </mat-card-actions>
    </mat-card-header>
    <mat-card-content class="task-container">
        <app-task [idProject]="project.id!"></app-task>
    </mat-card-content>
</mat-card>